<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../common/head %>
  <link rel="stylesheet" href="DataTables/datatables.min.css" />
</head>

<body id="page-top">
  <% include ../common/nav %>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div cålass="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">WE DESIGN YOUR LIFE WITH REAL CYCLING</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5">-REALDESIGNTECH-</p>
          <!---특정 계정만 transaction, mining 할 수 있도록..-->
          <!--transaction-->
          <!--coin 객수 userlist에서 접속 user에 해당하는 것만 보여주면 된다..-->

          <ul class="tabs">
            <li class="tab-link current" data-tab="tab-1">user_info</li>
            <li class="tab-link" data-tab="tab-2">wallet_info</li>
            <li class="tab-link" data-tab="tab-3">my transaction</li>
          </ul>
          <!--user info-->
          <div id="tab-1" class="tab-content current">
            <h2>user_info</h2>
            <h3>ID :
              <%= user_name%>
            </h3>
            <h3>session :
              <%= session%>
            </h3>
            <h3>email : email@email.com</h3>
          </div>

          <!--wallet info-->
          <div id="tab-2" class="tab-content">
            <!--check is wallet-->
            <% if(pri_key=='none') {%>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="/wallet">Wallet Generate</a>
            <% } %>
            <br />
            <h2>
              <%= coin %>
            </h2>
            <label>private key:</label>
            <textarea name="pri_key" id="pri_key" rows="10" class="form-control" readonly><%= pri_key %></textarea>
            <br />
            <label>public key:</label>
            <textarea name="pub_key" id="pub_key" rows="5" class="form-control" readonly><%= pub_key%></textarea>
          </div>
          <!--my transactions-->
          <div id="tab-3" class="tab-content">
            <textarea id="node_url" rows="1" class="form-control">http://127.0.0.1:5000</textarea><br /><br />
            <input type="button" onclick="view_transactions()" class="btn-rdt" value="VIEW" />
            <div class="container">
              <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Footer -->
  <% include ../common/footer %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/creative.min.js"></script>
  <!-- <script src="/static/jquery/jquery-3.4.1.min.js"></script> -->
  <script src="DataTables/datatables.min.js"></script>
  <script src="DataTables/ellipsis.js"></script>
  <script type="text/javascript">
    // add users HN need to fix
    function view_transactions() {
      $.ajax({
        url: /*document.getElementById("node_url").value +*/ "http://localhost:5000/blockchain/chains",
        headers: {
          "Content-Type": "application/json"
        },
        type: "GET",
        success: function(response) {
          var transactions = [];
          var count = 1;
          for (i = 1; i < response["length"]; i++) {
            if (response["chains"][i]) {

            }
            for (j = 0; j < response["chains"][i]["transactions"].length; j++) {
              var transaction = [
                count,
                response["chains"][i]["transactions"][j]["sender"],
                response["chains"][i]["transactions"][j]["recipient"],
                response["chains"][i]["transactions"][j]["amount"],
                response["chains"][i]["timestamp"],
                response["chains"][i]["index"],
              ];
              transactions.push(transaction);
              count += 1;
            }

          }
          $("#transactions_table").DataTable({
            data: transactions,
            columns: [{
                title: "#"
              },
              {
                title: "sender"
              },
              {
                title: "recipient"
              },
              {
                title: "amount"
              },
              {
                title: "timestamp"
              },
              {
                title: "index"
              },
            ],
            columnDefs: [{
              targets: [1, 2, 3, 4, 5],
              render: $.fn.dataTable.render.ellipsis(25),
            }],
          });
        },
        error: function(error) {
          document.write(error);
        }
      });
    }
  </script>
</body>

</html>
